.wbdv-nav-tabs {
    padding: 10px;
    padding-left: 0px;
}

.wbdv-top-row {
    border-bottom: 3px dashed dimgray;
    max-height: 61px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}