.wbdv-sticky-nav-bar {
    position: fixed;
    width:100%;
    background-color: steelblue;
    padding: 10px;
    z-index: 1;
}

.wbdv-nav-bar-text {
    max-height: 50px;
}

.container {
    padding-top: 58px;
}

.wbdv-sticky-plus-circle {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.fa-plus-circle {
    color: red;
}